{% extends "market/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
  {% if query %}
    <h1>Product containing "{{ query }}"</h1>
    <h3>
      {% with results.count as total_results %}
	Found {{ total_results }} result{{ total_results|pluralize }}
      {% endwith %}
    </h3>
    {% for product in results %}
      <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
      {{ product.description|truncatewords:5 }}
        <p class="price">${{ product.price }}</p>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url "market:product_search" %}">Search again</a></p>
  {% else %}
    <h1>Search for products</h1>
    <form action="." method="get">
      {% for field in form %}
                    <div class="row">
                    {{field.label_tag}}
                    <div class="col-md-10">{{field}}</div>
                    </div>
      {% endfor %}
      <input type="submit" value="Search">
    </form>
  {% endif %}
{% endblock %}