{% extends "account/login_base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form action="." method="post">
        {% for field in user_form %}
        <div class="row">
            {{field.label_tag}}
            <div class="col-md-10">{{field}}</div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>
{% endblock %}